.header{
    max-width: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
}

.header .header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem 0;
}

.header .header_container li a{
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    color: var(--light-color);
    font-family: var(--ff-ubuntu);
}