.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    z-index: 999;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;
    text-align: center;
}

.header .header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0;
}

.header .header_container li a{
    font-size: clamp(1.5rem , 4.5vw, 2rem);
    font-weight: var(--fw-bold);
    color: var(--light-color);
    font-family: var(--ff-ubuntu);
    transition: all 0.2s;
}

.header_container li a:hover{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFF;
}

.header.active {
    background-color: rgba(14, 14, 14, 81%);
    box-shadow: 0px 5px 5px 0px rgba(255,255,255,0.5);
}