/* RESET PROPERTIES */

@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&family=Kumbh+Sans:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: #0E0E0E;
    color: var(--light-color);
    height: 100vh;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    margin: auto;
}

/* RESET PROPERTIES */

/* UTILITIES */

.main_container{
    max-width: clamp(570px, 80vw, 1200px);
    margin: auto;
    padding: 0 1rem 0 1rem;
}

.saturnImage img{
    position: absolute;
    top: 50rem;
    left: -15rem;
    z-index: -1;
}

.moonImage img{
    position: absolute;
    right: -15rem;
    z-index: -1;
}

.earthImage{
    position: absolute;
    left: -25rem;
    z-index: -1;
}

/* UTILITIES */

/* VARIABLES */

:root{
    --ff-anybody: "Anybody", sans-serif;
    --ff-kumbh-sans: "Kumbh Sans", sans-serif;
    --ff-jura:  "Jura", sans-serif;
    --ff-ubuntu: "Ubuntu", sans-serif;
    --fw-light: 300;
    --fw-bold: 700; 
    --light-color: #fff;
    --gray-color: #171717;
}

/* VARIABLES */